# Fundamentals of Data Analysis Project

Course: HDip in Computing in Data Analytics  
Module: Fundamentals of Data Analysis  
Author: Stefania Verduga  

***

## Table of Contents

1. [Description](#Description)  
2. [Dataset Information](#Dataset-Information)
3. [Dataset Code and Analysis](#Dataset-Code-and-Analysis)
- 3.1 [Loading the dataset](#Loading-the-dataset)
- 3.2 [Analysis of basic descriptive statistics](#Analysis-of-basic-descriptive-statistics)
4. [Plots](#Plots)
5. [Conclusion](#Conclusion)
6. [Technology used for this project](#Technology-used-for-this-project)
7. [References](#References)

## 1. Description

The Iris flower data set or Fisher’s Iris data set is one of the most famous multivariate data set used for testing various Machine Learning Algorithms. It was introduced by the British statistician and biologist Ronald Fisher in his 1936 paper "The Use of Multiple Measurements in Taxonomic Problems" as an example of linear discriminant analysis.
The dataset contains four features (length and width of sepals and petals) of 50 samples of three species of Iris (Iris setosa, Iris virginica and Iris versicolor). These measures were used to create a linear discriminant model to classify the species. [01]

Iris Species [02]
![Iris Species](https://content.codecademy.com/programs/machine-learning/k-means/iris.svg) 

## 2. Dataset Information

The Iris Dataset consists of 50 samples from each of three species of Iris flowers: Iris setosa, Iris virginica, and Iris versicolor. 
Attribute information:

1. Sepal length in cm: This variable provides information on the attributes of the Iris sepal lenght measured in cm, which is a numerical variable.
2. Sepal width in cm: In this case, this variable provides us with information on the measurements of the Iris sepal width, so we are dealing with a numerical variable.
3. Petal length in cm: Like in the previous cases, this variable measures the Iris petal length in cm, so we can consider it a numerical variable.
4. Petal width in cm: This variable is another numerical one, similar to the previous ones, which refers to the Iris petal width measured in cm.
5. Class: This is a categorical/nominal variable which refers to the specie of each Iris flower. The dataset gather information about three different species, Iris Setosa, Iris Versicolor and Iris Virginica.

These features are used to classify the flowers into their respective species. The dataset is often used for machine learning tasks such as classification and clustering.

## 3. Dataset Code and Analysis

### 3.1 Loading the dataset
The first step for the analysis is to obtain the data set information. This can be found it in the official site: [UCI Machine Learning](https://archive.ics.uci.edu/ml/datasets/iris) or in other sites on internet. In my case, I downloaded from [datahub.io](https://datahub.io/machine-learning/iris) as the information was ready to be used and no further changes on the table were needed. This data source can be founded in the repository under the name of [iris_dataset.csv](https://github.com/StefaniaVerduga/fundamentals-of-data-analysis/blob/main/iris_dataset.csv)

In order to process all this information we need to import some necessary packages for the project:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

* **Numpy**: used to perform a wide variety of mathematical operations on arrays. NumPy is the fundamental package for scientific computing in Python. It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation. [03]
* **Pandas**: used to perform data manipulation and analysis.Pandas is a Python library for data analysis. It is built on top of two core Python libraries—matplotlib for data visualization and NumPy for mathematical operations. Pandas acts as a wrapper over these libraries, allowing you to access many of matplotlib's and NumPy's methods with less code. [04]
* **Matplotlib**: used for data visualization and graphical ploting. Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python. [05]
* **Seaborn**: built on top of matplotlib with similar functionalities. Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics. [06]

The CSV file previously downloaded, is read into our repository using the Pandas 'read_csv' method and it is stored in a pandas DataFrame object named 'df'. [07]

In [2]:
# Loading the dataset
df = pd.read_csv("iris_dataset.csv")

### 3.2 Analysis of basic descriptive statistics

The first step in this analysis is to investigate the structure of our data and calculate general statistical features such as mean, standard deviation, max/min values. 

* The "info" method prints information about the data that we are analizing. The information contains the number of columns, column labels (in this case the features), column data types and the number of cells in each column. All the input attributes (0-3) are in float and the output attribute (4) is in object as this is a nominal variable. [08]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

* The "describe" method returns the description of the data columns. It displays the count, mean, standard deviation, minimum and maximum values for each column in the dataset. [09]

In [4]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

The information shown in the previous table is not very accurate since it indicates the mean and standard deviation for each of the variables, that is, the mean of the sepal length, or the mean of the sepal width for the collected sample, but this is not classified by the type of Iris specie, so these data do not provide us with much information.

* The "groupby" method prints out the number of samples on each class in the dataset. This functions is used to split the data into groups based on some criteria. It helps to aggregate data efficiently. [10]

In [5]:
df.groupby('class').mean()

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

In [6]:
df.groupby('class').std()

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa          0.352490     0.381024      0.173511     0.107210
Iris-versicolor      0.516171     0.313798      0.469911     0.197753
Iris-virginica       0.635880     0.322497      0.551895     0.274650

The information provided in the tables above shows the mean values of sepal length, sepal width, petal length, and petal width for each category of iris species: Iris setosa, Iris versicolor, and Iris virginica.
As per the information displayed in the table above, we can see that the specie with the highest values for almost all the categories is the Iris Virginica, and on the contrary the Iris Setosa would have the smallest sepal lenght, petal length and petal width, but this specie has the biggest sepal width on average.

## 7. References

[01] [Towards Data Science - The Iris Dataset](https://towardsdatascience.com/the-iris-dataset-a-little-bit-of-history-and-biology-fb4812f5a7b5)\
[02] [Code Academy - Iris Dataset](https://www.codecademy.com/courses/machine-learning/lessons/machine-learning-clustering/exercises/iris-dataset)\
[03] [Numpy](https://numpy.org/doc/stable/user/whatisnumpy.html)\
[04] [Python Tutorial](https://mode.com/python-tutorial/libraries/pandas/)\
[05] [Matplotlib](https://matplotlib.org/)\
[06] [Seaborn](https://seaborn.pydata.org/#:~:text=Seaborn%20is%20a%20Python%20data,attractive%20and%20informative%20statistical%20graphics.)\
[07] [W3School - Python - Pandas CSV](https://www.w3schools.com/python/pandas/pandas_csv.asp)\
[08] [W3Schools - Pandas Info](https://www.w3schools.com/python/pandas/ref_df_info.asp#:~:text=The%20info()%20method%20prints,method%20actually%20prints%20the%20info.)\
[09] [Tutorialspoint - Pandas Descriptive Statistics](https://www.tutorialspoint.com/python_pandas/python_pandas_descriptive_statistics.htm#:~:text=The%20describe()%20function%20computes,pertaining%20to%20the%20DataFrame%20columns.&text=This%20function%20gives%20the%20mean,given%20summary%20about%20numeric%20columns.)\
[10] [Geeksforgeeks - Pandas Groupby](https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/)\

***

## End